/* Zen App Styles */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
